<main class="page-content-animation">
  <section class="row row-cols-1 row-cols-sm-2">
    <div class="col">
      <div class="purple-border-start">
        <h3 class="ms-2">Palavras</h3>
      </div>
    </div>

    <div class="col">
      <form>
        <div class="col-12 d-flex justify-content-end align-items-center gap-2">
          <app-difficulty-select [showLabel]="false"></app-difficulty-select>

          <button type="submit" class="btn-scale btn-gradient-purple-orange">
            <i class="bi-search me-2"></i>Buscar
          </button>
        </div>
      </form>
    </div>
  </section>

  <div class="col-12">
    <hr class="text-orange" />
  </div>

  <section class="row row-cols-1 gap-3">
    <div class="col">
      <p class="fs-4">1. Palavra 01</p>
      <p class="fs-4">2. Palavra 02</p>
    </div>

    <div class="col d-flex justify-content-center">
      <nav>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link active-link-pagination" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
</main>
