<form [formGroup]="form" (submit)="onSubmit()" class="row row-cols-1 gap-4">
  <div class="col text-start">
    <label for="select-difficulty" class="form-label">Selecione a Dificuldade:</label>
    <select formControlName="difficulty" id="select-difficulty" class="form-select">
      @for (diff of difficulties; track $index) {
        <option [value]="diff.name">{{ diff.name | titlecase }}</option>
      }
    </select>
  </div>

  <div class="col text-start">
    <div class="form-check form-switch purple-form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="switchCheckInfiniteMode"
        formControlName="isInfiniteMode"
      />

      <label class="form-check-label" for="switchCheckInfiniteMode"> Modo Infinito </label>
    </div>
  </div>

  <div class="col text-center">
    <button type="submit" class="btn-scale btn-gradient-move-purple-orange">
      <i class="bi-play-fill me-2"></i>Iniciar
    </button>
  </div>
</form>
