<form [formGroup]="form" (submit)="onSubmit()" class="row row-cols-1 gap-4">
  <div class="col">
    <label for="select-difficulty">Selecione a Dificuldade:</label>
    <select formControlName="difficulty" id="select-difficulty" class="form-select">
      @for (diff of difficults; track $index) {
        <option [value]="diff.difficulty">{{ diff.translation | titlecase }}</option>
      }
    </select>
  </div>

  <div class="col text-center">
    <button type="submit" class="btn-scale btn-gradient-move-purple-orange">
      <i class="bi-play-fill me-2"></i>Iniciar
    </button>
  </div>
</form>
