<form [formGroup]="form" (submit)="onSubmit()" class="mt-3 row row-cols-1 gap-3">
  <div class="col">
    <label for="input-email" class="form-label">Senha Atual:</label>
    <input
      id="input-email"
      formControlName="currentPassword"
      placeholder="Digite sua senha atual..."
      class="form-control"
      type="password"
    />
    @if (getInput('currentPassword')?.touched && getInput('currentPassword')?.errors) {
      <small class="text-danger">
        @if (getInput('currentPassword')?.hasError('required')) {
          Senha atual é obrigatória!
        }
        @if (getInput('currentPassword')?.hasError('minlength')) {
          Senha atual deve conter no mínimo 7 caracteres!
        }
      </small>
    }
  </div>

  <div class="col">
    <label for="input-new-password" class="form-label">Nova Senha:</label>
    <input
      id="input-new-password"
      formControlName="newPassword"
      placeholder="Digite sua nova senha..."
      class="form-control"
      type="password"
    />
    @if (getInput('newPassword')?.touched && getInput('newPassword')?.errors) {
      <small class="text-danger">
        @if (getInput('newPassword')?.hasError('required')) {
          Nova senha é obrigatória!
        }
        @if (getInput('newPassword')?.hasError('minlength')) {
          Nova senha deve conter no mínimo 7 caracteres!
        }
      </small>
    }
  </div>

  <div class="col">
    <label for="input-confirm-new-password" class="form-label">Confirmar Nova Senha:</label>
    <input
      id="input-confirm-new-password"
      formControlName="confirmNewPassword"
      placeholder="Digite novamente sua sua nova senha..."
      class="form-control"
      type="password"
    />
    @if (getInput('confirmNewPassword')?.touched && getInput('confirmNewPassword')?.errors) {
      <small class="text-danger">
        @if (getInput('confirmNewPassword')?.hasError('required')) {
          Confimação de nova senha é obrigatória!
        }
        @if (getInput('confirmNewPassword')?.hasError('minlength')) {
          Confirmação da nova senha deve conter no mínimo 7 caracteres!
        }
        @if (getInput('confirmNewPassword')?.hasError('passwordMismatch')) {
          Confirmação de senha inválida!
        }
      </small>
    }
  </div>

  <div class="col text-end">
    <button [disabled]="updatePassword().isUpdatting" type="submit" class="btn btn-success">
      @if (updatePassword().isUpdatting) {
        <app-spinner-border [text]="'Atualizando...'"></app-spinner-border>
      } @else {
        <i class="bi-floppy-fill me-2"></i>Atualizar Senha
      }
    </button>
  </div>
</form>
