<div class="toast-container position-fixed top-0 end-0 p-3">
  @for (toast of toasts(); track $index) {
    <div class="toast show" role="alert">
      <div class="toast-header rounded">
        <i class="me-2 fs-6" [class]="`${toast.icon} ${toast.classname}`"></i>

        <strong class="me-auto fs-6" [class]="toast.classname">
          {{ toast.title }}
        </strong>

        <button type="button" class="btn-close" (click)="closeToasts()"></button>
      </div>

      <div class="toast-body d-none d-md-flex flex-column" [class]="toast.classname">
        @for (msg of toast.messages; track $index) {
          <span class="fs-6">{{ msg }}</span>
        }
      </div>
    </div>
  }
</div>
