@if (loadingGame()) {
  <app-loading-content [message]="'Carregando palavras...'"></app-loading-content>
} @else if (!loadingGameSuccess()) {
  <app-error
    [errorTitle]="'Erro ao Iniciar Jogo. Pedimos Desculpas.'"
    [errorMessage]="'Falha ao inicializar jogo.'"
  ></app-error>
} @else {
  @switch (gameState()) {
    @case ('show-game') {
      <app-words-game-card (gameState)="setState($event)"></app-words-game-card>
    }
    @case ('end') {
      <app-end-game></app-end-game>
    }
    @case ('no-time-left') {
      <app-no-time-left (gameState)="setState($event)"></app-no-time-left>
    }
    @case ('error') {
      <app-error
        [errorTitle]="'Erro na Execução. Pedimos Desculpas.'"
        [errorMessage]="'Falha na execução do mini-game.'"
      ></app-error>
    }
  }
}
