<main class="page-content-animation">
  <section class="row row-cols-1 row-cols-sm-2">
    <div class="col">
      <div class="purple-border-start">
        <h3 class="ms-2">Palavras</h3>
        <h4 class="ms-2">{{ currentDifficulty.translation | titlecase }}</h4>
      </div>
    </div>

    <div class="col">
      <app-filter-word-difficulty-form
        (selectedDifficulty)="loadWordsByDiffitulty($event)"
      ></app-filter-word-difficulty-form>

      @if (isAdministratorRole) {
        <div class="col text-end mt-3">
          <button
            [disabled]="disableRegisterBtn()"
            (click)="registerWord()"
            class="btn-gradient-purple-orange"
          >
            <i class="bi-plus-circle"></i>
          </button>
        </div>
      }
    </div>
  </section>

  <div class="col-12">
    <hr class="text-orange" />
  </div>

  <section class="row row-cols-1 gap-3">
    <div class="col">
      @if (isLoadingWords()) {
        <app-spinner-border
          [text]="'Carregando palavras...'"
          [classText]="'text-purple'"
        ></app-spinner-border>
      } @else if (!words() || words().length === 0) {
        <p>Nenhuma palavra encontrada.</p>
      } @else if (!loadWordsSuccess()) {
        <p class="text-danger"><i class="bi-x-circle-fill"></i>Falha ao buscar palavras.</p>
      } @else {
        <div class="row row-cols-1 row-cols-md-2 page-content-animation">
          @for (word of words(); track word.id!; let i = $index) {
            <div class="col px-4">
              <div class="row">
                <div class="col">
                  <p class="fs-5">{{ word.word | titlecase }}</p>
                </div>

                @if (isAdministratorRole) {
                  <div class="col text-end gap-3">
                    <button
                      [disabled]="isUpdatingWord()"
                      (click)="updateWord(word.id!)"
                      class="btn btn-sm btn-secondary me-1 me-sm-2"
                    >
                      <i class="bi-pencil-fill"></i>
                    </button>

                    <button
                      [disabled]="isDeletingWord()"
                      (click)="deleteWord(word.id!)"
                      class="btn btn-sm btn-danger"
                    >
                      <i class="bi-trash"></i>
                    </button>
                  </div>
                }
              </div>
            </div>
          }
        </div>
      }
    </div>

    @if (loadWordsSuccess()) {
      <div class="col-12">
        <hr class="text-orange" />
      </div>

      <div class="col d-flex justify-content-center">
        <nav>
          <ul class="pagination">
            <li class="page-item" [class.disabled]="paginationState().first">
              <button
                type="button"
                class="page-link"
                [disabled]="paginationState().first"
                (click)="loadWordsByDiffitulty(currentDifficulty, paginationState().number - 1)"
              >
                &laquo;
              </button>
            </li>

            @for (page of pages(); track $index) {
              <li class="page-item">
                <button
                  type="button"
                  class="page-link"
                  [disabled]="page === paginationState().number"
                  [class.active-link-pagination]="page === paginationState().number"
                  (click)="loadWordsByDiffitulty(currentDifficulty, page)"
                >
                  {{ page + 1 }}
                </button>
              </li>
            }

            <li class="page-item" [class.disabled]="paginationState().last">
              <button
                type="button"
                class="page-link"
                [disabled]="paginationState().last"
                (click)="loadWordsByDiffitulty(currentDifficulty, paginationState().number + 1)"
              >
                &raquo;
              </button>
            </li>
          </ul>
        </nav>
      </div>
    }
  </section>
</main>
