<div class="container-fluid container-lg mt-5">
  <section class="card p-4 shadow">
    <div class="row text-center">
      <div class="row flex-column g-2">
        <span class="h1 text-danger"><i class="bi-x-circle-fill"></i></span>
        <h3>Tempo Esgotado</h3>
        <h5>Pontuação Total: {{ score }}</h5>
        <div class="col-12">
          <a routerLink="/home" class="btn btn-danger">
            <i class="bi-arrow-clockwise me-2"></i>Tentar Novamente
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
