<div class="container-fluid container-lg mt-5">
  <div class="col-12 card bg-white rounded shadow-sm p-3 p-lg-4 gap-4">
    <section class="row row-cols-2 row-cols-lg-3 align-items-center">
      <div class="col text-start">
        <h5>{{ difficultyName | titlecase }}</h5>
      </div>

      <div class="col text-end text-lg-center">
        <h5>Pontuação: {{ score }}</h5>
      </div>

      <div class="col-12 col-sm text-end">
        <a routerLink="/home" class="btn text-danger"><i class="bi-arrow-left me-2"></i>Voltar</a>
      </div>
    </section>

    @if (!showResult()) {
      <app-timebar (finished)="onTimerFinished()" [initialTime]="time()"></app-timebar>
    }

    @if (!answer() || showResult()) {
      <app-words-list></app-words-list>
    }

    @if (answer() || showResult()) {
      <section>
        <div class="col-12">
          <h5>
            @if (showResult()) {
              Palavras Digitadas:
            } @else {
              Digite as Palavras Visualizadas:
            }
          </h5>
        </div>
        <app-typing-words-form (submitWords)="checkCorrect($event)"></app-typing-words-form>
      </section>
    }

    @if (isCorrect() && showResult()) {
      <section class="text-end">
        <p>
          <strong>Próximo em {{ timeToNextRound() }}s</strong>
        </p>
      </section>
    }

    @if (!isCorrect() && showResult() && !getMoreWordsLoading()) {
      <section class="col-12 text-end mt-3">
        <button (click)="restartGame()" class="btn-purple-orange-gradient">Reiniciar</button>
      </section>
    }
  </div>
</div>
