<div class="container-fluid container-lg my-5">
  <div
    class="col-12 card bg-white rounded shadow-sm p-3 p-lg-4 d-flex flex-column"
    style="min-height: 630px"
  >
    <section>
      <div class="row row-cols-sm-1 gap-3">
        <div class="col">
          <div class="purple-border-start">
            <h3 class="ms-2">Sugestões de Palavras</h3>
          </div>
        </div>

        <div class="col-12">
          <app-filter-word-suggestions-form
            (submitteData)="onLoadByPeriod($event)"
          ></app-filter-word-suggestions-form>
        </div>
      </div>
    </section>

    <div class="col-12">
      <hr class="text-orange" />
    </div>

    <section class="col row row-cols-1 gap-3 flex-grow-1">
      <div class="col">
        @if (isLoadingSuggestions()) {
          <app-spinner-border
            [text]="'Carregando palavras...'"
            [classText]="'text-purple'"
          ></app-spinner-border>
        } @else if (!wordsSuggestions() || wordsSuggestions().length === 0) {
          <p>Nenhuma sugestão de palavra encontrada.</p>
        } @else if (!loadSuggestionsSuccess()) {
          <p class="text-danger">
            <i class="bi-x-circle-fill"></i>Falha ao buscar sugestões de palavras.
          </p>
        } @else {
          <div class="table-responsive">
            <table class="table table-sm table-hover align-middle">
              <thead>
                <tr>
                  <th>Palavra</th>
                  <th>Dificuldade</th>
                  <th>Sugerida em:</th>
                  <th>Sugerida por:</th>
                  <th class="text-end">Ações</th>
                </tr>
              </thead>

              <tbody>
                @for (word of wordsSuggestions(); track word.id!) {
                  <tr>
                    <td>
                      {{ word.word | titlecase }}
                    </td>
                    <td>
                      {{ word.difficulty | titlecase }}
                    </td>
                    <td>
                      {{ word.suggestedAt | date: 'dd/MM/yyyy HH:mm' }}
                    </td>
                    <td>
                      {{ word.userEmail }}
                    </td>
                    <td>
                      <div class="d-flex justify-content-end">
                        <button
                          [disabled]="isRegistingWord()"
                          (click)="onRegisterSuggestionInWords(word.id!)"
                          class="btn btn-sm btn-success me-2"
                        >
                          <i class="bi-floppy-fill"></i>
                        </button>

                        <button
                          [disabled]="isDeletingSuggestion()"
                          (click)="onDeleteSuggestion(word.id!)"
                          class="btn btn-sm btn-danger"
                        >
                          <i class="bi-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        }
      </div>

      @if (loadSuggestionsSuccess()) {
        <div class="d-flex flex-column mt-auto">
          <div class="col-12">
            <hr class="text-orange" />
          </div>

          <div class="col d-flex justify-content-center">
            <app-nav-pagination
              [paginationState]="paginationState()"
              [pages]="pages()"
              (action)="onPagination($event)"
            ></app-nav-pagination>
          </div>
        </div>
      }
    </section>
  </div>
</div>
