<div class="container-fluid container-lg my-5">
  <div class="col-12 card bg-white rounded shadow-sm p-3 p-lg-4">
    <div>
      <div class="purple-border-start">
        <h3 class="ms-2">Meu Painel</h3>
      </div>
    </div>

    <hr class="text-orange" />

    <div class="row row-cols-1 gap-4">
      <section class="col">
        <div class="orange-border-start">
          <h5 class="ms-2">Minha Senha</h5>
        </div>
        <app-update-password-form
          (passwordData)="updateUserPassword($event)"
        ></app-update-password-form>
      </section>
    </div>
  </div>
</div>
