<div class="bg-danger d-flex bg-purple-orange-gradient flex-column h-100">
  <div class="border-top-footer">
    <footer class="container-fluid py-3">
      <div class="row justify-content-center align-items-center px-3 px-md-0">
        <div class="col col-md-5 col-lg-3 text-center bg-light p-3 rounded shadow">
          <app-strong-memory-brand></app-strong-memory-brand>

          <p class="my-1">© {{ currentYear }} Strong Memory</p>

          <small class="text-secondary"> Desenvolvido por Renan Lopes Lima Teles </small>
        </div>
      </div>
    </footer>
  </div>
</div>
