<form [formGroup]="form" (submit)="onSubmit()" class="row row-cols-1 gap-3">
  @if (isRegisterRole) {
    <div class="col">
      <label for="input-username" class="form-label">Username:</label>
      <input
        formControlName="username"
        id="input-username"
        placeholder="Digite seu username..."
        class="form-control"
        type="text"
      />
      @if (getInput('username')?.touched && getInput('username')?.errors) {
        <small class="text-danger">
          @if (getInput('username')?.hasError('required')) {
            Username é obrigatório!
          }
        </small>
      }
    </div>
  }

  <div class="col">
    <label for="input-email" class="form-label">Email:</label>
    <input
      id="input-email"
      formControlName="email"
      placeholder="Digite seu email..."
      class="form-control"
      type="email"
    />
    @if (getInput('email')?.touched && getInput('email')?.errors) {
      <small class="text-danger">
        @if (getInput('email')?.hasError('required')) {
          Email é obrigatório!
        }
        @if (getInput('email')?.hasError('email')) {
          Email é inválido!
        }
      </small>
    }
  </div>

  <div class="col">
    <label for="input-password" class="form-label">Senha:</label>
    <input
      formControlName="password"
      id="input-password"
      placeholder="Digite sua senha..."
      class="form-control"
      type="password"
    />
    @if (getInput('password')?.touched && getInput('password')?.errors) {
      <small class="text-danger">
        @if (getInput('password')?.hasError('required')) {
          Senha é obrigatória!
        }
        @if (getInput('password')?.hasError('minlength')) {
          Senha deve conter no mínimo 7 caracteres!
        }
      </small>
    }
  </div>

  <div class="col text-end">
    <button [disabled]="registerState().isRegistering" class="btn-scale btn-gradient-purple-orange">
      @if (registerState().isRegistering) {
        <app-spinner-border [text]="'Cadastrando...'"></app-spinner-border>
      } @else if (loginState().isAuthenticating) {
        <app-spinner-border [text]="'Entrando...'"></app-spinner-border>
      } @else {
        @if (isRegisterRole) {
          Me Cadastrar
        } @else {
          Entrar
        }
      }
    </button>
  </div>

  <div class="col text-start">
    @if (!(registerState().isRegistering || loginState().isAuthenticating)) {
      @if (isRegisterRole) {
        <a routerLink="/player/login" class="text-purple">Já tem conta? Entre com ela aqui.</a>
      } @else {
        <a routerLink="/player/register" class="text-purple">Não tem conta? Crie sua conta aqui.</a>
      }
    }
  </div>
</form>
