.active-route {
  background: var(--purple-orange-gradient-b);
  border-radius: 10px !important;
  color: white !important;
  border-bottom: 1px solid !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  letter-spacing: 0.3px !important;
  overflow: hidden !important;
}

.dropdown-item:hover,
.nav-link:hover {
  color: var(--purple);
  border-bottom: 1px solid var(--orange);
}

.dropdown-item,
.nav-link {
  letter-spacing: 0.3px !important;
  font-size: 15px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.btn-login {
  color: var(--purple);
}

.bottom-margin {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 28px;
}

.dropdown-item {
  background-color: white;
}
