<main class="row row-cols-1 row-cols-lg-2 page-content-animation">
  <section class="col px-lg-4">
    <div class="purple-border-start">
      <h3 class="ms-2">Treine Sua Memória de Forma Divertida</h3>
    </div>
    <hr class="text-purple" />

    <div>
      <p>
        O Strong Memory é uma aplicação web interativa desenvolvida para o treinamento da memória
        muscular e cognitiva por meio de uma dinâmica gamificada. A plataforma utiliza um mini-game
        baseado na visualização e posterior digitação sequencial de palavras, estimulando a
        retenção, a concentração e a precisão do usuário durante a execução das atividades
        propostas.
      </p>
      <p>
        O objetivo principal do mini-game é permitir que o usuário complete integralmente a
        sequência correspondente ao nível escolhido, exigindo gerenciamento eficiente do tempo e
        alto grau de precisão na digitação. Dessa forma, o mini-game promove o desenvolvimento
        contínuo das capacidades cognitivas e motoras em um ambiente web dinâmico e progressivo.
      </p>
    </div>
  </section>

  <section class="col px-lg-4 mt-5 mt-lg-0">
    <div class="orange-border-start">
      <h3 class="ms-2">Iniciar Partida</h3>
    </div>
    <hr class="text-orange" />

    <div>
      <p>
        A cada rodada concluída com sucesso, o nível de complexidade é ajustado automaticamente,
        variando parâmetros como tempo de exibição, tempo de resposta e tamanho da sequência, de
        acordo com a dificuldade selecionada.
      </p>

      <form class="row row-cols-1 gap-4">
        <div class="col">
          <app-difficulty-select [showLabel]="true"></app-difficulty-select>
        </div>

        <div class="col text-center">
          <button type="submit" class="btn-scale btn-gradient-move-purple-orange">
            <i class="bi-play-fill me-2"></i>Iniciar
          </button>
        </div>
      </form>
    </div>
  </section>
</main>
