<form [formGroup]="form" (submit)="onSubmit()">
  <div class="col-12 d-flex justify-content-end align-items-center gap-2">
    <select formControlName="difficulty" id="select-difficulty" class="form-select">
      <option value="easy" selected>Fácil</option>
      <option value="normal">Normal</option>
      <option value="hard">Difícil</option>
    </select>

    <button
      [disabled]="isFindingWords()"
      type="submit"
      class="btn-scale btn-gradient-purple-orange"
    >
      @if (isFindingWords()) {
        <app-spinner-border [text]="''"></app-spinner-border>
      } @else {
        <i class="bi-search ccd dme-2"></i>
      }
    </button>
  </div>
</form>
