/* You can add global styles to this file, and also import other style files */

:root {
  --purple: #9c04fc;
  --orange: #fc9f28;
  --purple-orange-gradient: linear-gradient(to right, #9c04fc, #ffab40);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  filter: blur(0);

  background:
    radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 25%,
      transparent 60%
    ),
    radial-gradient(circle at 10% 50%, rgba(156, 4, 252, 0.12) 0%, transparent 60%),
    radial-gradient(circle at 90% 50%, rgba(255, 171, 64, 0.12) 0%, transparent 60%);
}

.text-purple {
  color: var(--purple) !important;
}

.text-orange {
  color: var(--orange) !important;
}

.bg-white {
  background-color: white !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-content {
  animation: fadeIn 0.7s ease;
}
