@if (alert(); as alert) {
  <app-alert [alertState]="alert" (closed)="closeAlert()" />
}

<main class="row row-cols-1 gap-3 page-content-animation">
  <section class="col">
    <div class="purple-border-start">
      <h3 class="ms-2">Sugestão de Palavras</h3>
    </div>
    <hr class="text-orange" />

    <p>
      Você pode nos ajudar a tornar nossa aplicação cada vez mais completa sugerindo novas palavras
      que ainda não estejam cadastradas em nosso sistema. Para isso, basta enviar uma palavra
      acompanhada de sua respectiva dificuldade (por exemplo: fácil, média ou difícil). Suas
      sugestões são muito importantes, pois contribuem diretamente para o enriquecimento do conteúdo
      da plataforma, permitindo que outros usuários tenham acesso a um vocabulário cada vez mais
      amplo e diversificado. Dessa forma, colaborativamente, conseguimos melhorar a qualidade da
      aplicação e oferecer uma experiência de aprendizado mais rica e eficiente para todos.
    </p>
  </section>

  <section class="col">
    <app-word-suggestions-form
      (suggestionsData)="registerSuggestion($event)"
    ></app-word-suggestions-form>
  </section>
</main>
