<form [formGroup]="form" (submit)="onSubmit()">
  <div class="row row-cols-1 gap-3">
    <div class="col">
      <label for="input-word" class="form-label">Sugestão de Palavra:</label>
      <input
        id="input-word"
        placeholder="Digite a palavra..."
        formControlName="suggestedWord"
        class="app-input"
        type="text"
      />
      @if (getInput('suggestedWord')?.touched && getInput('suggestedWord')?.errors) {
        <small class="text-danger">
          @if (getInput('suggestedWord')?.hasError('required')) {
            Palavra é obrigatória!
          }
        </small>
      }
    </div>

    <div class="col">
      <label for="select-difficulty" class="form-label">Sugestão de Dificuldade:</label>
      <select formControlName="suggestedDifficulty" id="select-difficulty" class="form-select">
        @for (diff of difficulties(); track $index) {
          <option [value]="diff.difficulty">{{ diff.translation | titlecase }}</option>
        }
      </select>
    </div>

    <div class="col-12 text-end">
      <button class="btn" (click)="cancelAction()">Cancelar</button>
      <button [disabled]="form.invalid" type="submit" class="btn-scale btn-gradient-purple-orange">
        {{ buttonText }}
      </button>
    </div>
  </div>
</form>
