<app-navbar></app-navbar>

<div class="d-flex flex-column flex-grow-1 min-vh-100">
  <app-toast></app-toast>

  <main class="main-content">
    @if (isLoadingDifficulties()) {
      <app-loading-content></app-loading-content>
    } @else if (loadingDifficultiesSuccess()) {
      <router-outlet></router-outlet>

      <app-back-to-top-btn></app-back-to-top-btn>
    } @else {
      <app-error
        [errorTitle]="'Falha ao Carregar Aplicação.'"
        [errorMessage]="'Falha ao carregar dados iniciais da aplicação.'"
      ></app-error>
    }
  </main>

  <app-footer></app-footer>
</div>
