@if (alert(); as alert) {
  <app-alert [alertState]="alert" (closed)="closeAlert()" />
}

<main class="container-fluid container-md vh-100">
  <div class="h-100 row row-cols-1 row-cols-lg-2 justify-content-center align-items-center">
    <section class="col d-none d-lg-block px-5 page-content-animation">
      <div>
        <div class="purple-border-start">
          <h3 class="ms-2">Fotaleça Sua Memória de Foma Divertida</h3>
        </div>
      </div>

      <p class="mt-3">
        O Strong Memory é uma aplicação web interativa desenvolvida para o treinamento da memória
        muscular e cognitiva por meio de uma dinâmica gamificada. A plataforma utiliza um mini-game
        baseado na visualização e posterior digitação sequencial de palavras, estimulando a
        retenção, a concentração e a precisão do usuário durante a execução das atividades
        propostas.
      </p>
    </section>

    <section class="col d-flex justify-content-center page-content-animation">
      <app-user-form-card
        (userData)="loginPlayer($event)"
        [isRegisterRole]="false"
      ></app-user-form-card>
    </section>
  </div>
</main>
